
<div>
  <%= image_tag @book.get_image("50x50") %>
  <p><%= link_to @user.name, user_path(@user.id) %></p>
  <p><%= link_to @book.title, book_path(@book.id) %></p>
  <p><%= @book.body %></p>
   <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>